* {
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	--background-default: #f5f4f0;
	--border-primary: #d9d9d9;

	--text-primary: #1b1b1b;
	--text-secondary: #333333;
	--text-tertiary: #696969;
	--text-headline: #e1624f;

	--accent-blue: #0c15a7;
	--accent-orange: #e95e10;
	--accent-pink: #e5245e;
	--accent-purple: #591b98;
}

#page {
	display: flex;
	justify-content: center;

	flex-direction: column;

	width: 30rem;
	margin: 20vh auto;

	border-radius: 2rem;

	background-color: var(--background-default);
}

h1,
p {
	margin: 1rem auto;
}

.sudoku,
.grid,
.cell {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	border: 1px solid black;
}

.sudoku {
	margin: auto auto 2rem;

	width: 366px;
	height: 366px;
}

.grid {
	width: 120px;
	height: 120px;
}

.cell {
	width: 38px;
	height: 38px;
}
